<div class="col-md-12">
  <div class="job">
      <%= link_to("Edit", edit_job_path(@job), class: "btn btn-primary pull-right")%>
  </div>
  <h2><%= @job.title %></h2>
  <p><b>Description: </b><%= @job.description %></p>
  <p><b>Minimum Salary: </b><%= @job.minsalary %></p>
  <p><b>Maximum Salary: </b><%= @job.maxsalary %></p>
  
</div>
