<div class="col-md-4 col-md-offset-4">
  <h2>职缺详细</h2>

  <hr>

  职缺名称
  <%= @job.title %>
  <br>
  职缺描述
  <%= @job.descripiton %>
  <br>
  工资下限
  <br>
  <%= @job.wage_lower_bound %>
  <br>
  工资上限
  <br>
  <%= @job.wage_upper_bound %>
  <br>
  联系邮箱
  <br>
  <%= @job.contact_email %>
  <br>


</div>
