  <h1><%= @job.title %></h1>
  <h6>职位描述</h6>
  <p><%= simple_format(@job.description) %></p>
  <h6>薪水范围</h6>
  <p><%= @job.wage_lower_bound %> ~ 
  <%= @job.wage_upper_bound %></p>
  <h6>联系方式</h6>
  <p><%= @job.contact_email %></p>
  <br>
  <hr>
  <p>投递 <span class="badge"><%= @resumes.length %></span></p>

<% @resumes.each do |resume| %>

  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><%= resume.user.email %></div>
    <div class="panel-body">
      <p><%= resume.content %></p>
      <hr>
      <a href="<%= resume.attachment %>" target="_blank" class="btn btn-primary btn-xs">预览</a>
    </div>

  </div>

<% end %>

